<h3>Add a TO-DO !</h3>

<form method="POST" action="/todo/add">
    <label>What do I have to do ?</label>
    <input type="text" name="todo"/>
    <button type="submit">Add</button>
</form>
<a href="/todo">See all my todos</a>