<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Best Todo-List EU</title>
    <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>